* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


.linguateka-logo {
    display: flex;
    justify-content: left, top;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 10px;
}

.linguateka-logo h1 {
    font-size: 22px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, #3B82F6, #06B6D4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 25px;
    margin-left: 10px;
}

.linguateka-logo-image {
    margin-left: 5px;
    width: 47px;
}

.explanation-mobile {
    display: none;
}

.explanation {
    margin-top: 22px;
    margin-left: 18%;
    display: block;
}

.explanation h1 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: capitalize;
}

.second-main-text-mobile {
    display: none;
}

.top-controls-mobile {
    display: none;
}

.main-text-videos-mobile {
    display: none;
}

.main-text-videos-desktop {
    display: block;
    margin-left: 18%;
    margin-top: 80px;
}

.main-text-videos-desktop h2{
    font-size: 15px;
}

.no-results-message {
    display: none; 
    text-align: center; 
    margin-top: 40px;
}

.no-results-message p{
    font-size: 1.2em; 
    font-weight: bold;
}

.no-results-message img {
    width: 100px; 
    height: auto; 
    margin-bottom: 20px;
}

.filter-icon-button {
    width: 35px; 
    height: 35px;    
    border-style : none;
    border-left-style : none;
}

.filter-icon-button-mobile {
    width: 35px; 
    height: 35px;    
    border-style : none;
    border-left-style : none;
}

.filter-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    border-style: none;
}

.filter-wrapper-mobile {
    display: none;
}

.filter-wrapper button {
    border-style: none;
}

.filter-wrapper-mobile button {
    border-style: none;
}

#filter-panel {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #f5f7ff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 10;
    width: 180px;
}

#filter-panel-mobile {
    position: absolute;
    top: 46px;
    background-color: #f5f7ff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 10;
    width: 180px;
}

#filter-panel.hidden {
    display: none;
}

#filter-panel-mobile.hidden {
    display: none;
}

.difficulty-filter {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.difficulty-filter-mobile {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.difficulty-btn {
    flex: 1;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.difficulty-btn-mobile {
    flex: 1;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.difficulty-btn.active {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}

.difficulty-btn-mobile.active {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}

.tag-btn {
    flex: 1;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 3px;
}

.tag-btn.active {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;
}

.tag-btn-mobile {
    flex: 1;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 3px;
    min-width: 100px;
}

.tag-btn-mobile.active {
    background-color: #007BFF;
    color: white;
    border-color: #0056b3;

}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px 20px; /* Espace vertical 25px, espace horizontal 20px */
    justify-content: center;
    margin-top: 35px;
    margin-left: 18%;
    margin-right: 18%;
}

.card {
    width: 200px;
   /* height: 200px;*/
    overflow: hidden;
    /* Suppression du padding ici car l'espacement est géré par le gap */
}

.top-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video-title {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    text-align: left;
    font-weight: 500;
}


.combo-box {
    display: flex;
    align-items: center;
    background-color: #dae2ff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.combo-box-mobile {
    display: flex;
    align-items: center;
    background-color: #dae2ff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.compact-link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-right: 1px solid #c2ccf2;
}

.separator {
    width: 1px;
    background-color: #333;
    height: 30px;
}

.separator-mobile {
    width: 1px;
    background-color: #333;
    height: 30px;
}

.burger-wrapper {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.burger-wrapper-mobile {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.burger-wrapper button {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.burger-wrapper-mobile button {
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

#burger-content {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #f5f7ff;
    border: 1px solid #dae2ff;
    border-radius: 8px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

#burger-mobile-content {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #f5f7ff;
    border: 1px solid #dae2ff;
    border-radius: 8px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}


#burger-content a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
}

#burger-mobile-content a {
    display: block;
    padding: 8px 0;
    text-decoration: none;
    color: #333;
}

#burger-content a:hover {
    text-decoration: underline;
}

#burger-mobile-content a:hover {
    text-decoration: underline;
}



#searchBar {
    width: 100%;
    max-width: 400px; /* Maintenu à 300px comme dans votre code original */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    min-width: 350px;
    
}

#searchBar-mobile {
   display: none;
    
}

.lang-icon {
    width: 40px;  
    height: auto;
}
.footer-custom {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 30px;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-top: 80px;
  }
  
  .footer-left h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .footer-left p {
    font-size: 14px;
    margin: 4px 0 0;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .linkedin-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  .linkedin-icon {
    width: 25px;
    margin-right: 8px;
  }
  
  .footer-center {
    display: flex;
    gap: 10px;
  }
  
  .footer-link {
    background-color: #dae2ff;
    border-radius: 10px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
  }
  
  .footer-link:hover {
    background-color: #c9d5ff;
  }
  
  .flag-icon {
    width: 20px;
    height: 14px;
  }
  
  .arrow {
    margin-left: auto;
  }
  

.link-desktop {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #DAE2FF;
 /*   border: 1px solid #ccc;
    border-radius: 6px;*/
    padding: 6px 12px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: black;
    font-weight: 500;
    min-width: 165px;
}

.link-desktop:hover {
    background-color: #c9d5ff;
}

.link-desktop img {
    width: 20px;
    height: 20px;
}

.linguateka-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-left: 10px;
    gap: 10px;
}

.link-mobile {
    display: none;
}

/* Ajout de règles pour le responsive */
@media (max-width: 1000px) {
    .top-controls {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    .top-controls {
        display: flex;
        flex-direction: column-reverse; 
    }

    .explanation {
        margin-top: 22px;
        margin-left: 10px;
    }

    .main-text-videos-desktop {
        margin-left: 8%;
    }
    
    #searchBar {
        max-width: 400px;
    }

    .footer-content a {
        color: #ffcc00;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
        font-size: 10px;
    }

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px 12px; /* Espacement réduit pour les petits écrans */
        margin-left: 8%;
        margin-right: 8%;
    }
    
    .card {
        width: 200px; 
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

@media (min-width: 751px) {
    .footer-custom {
      min-height: 150px;
    }
  }

@media (max-width: 750px) {

    .linguateka-logo {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        margin-top: 5px;
        margin-left: 10px;
    }
    
    .linguateka-logo h1 {
        font-size: 15px;
    
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        background: linear-gradient(to right, #3B82F6, #06B6D4);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 10px;
    }
    
    .linguateka-logo-image {
        width: 30px;
    }

    .explanation-mobile {
        display: block;
    }

    .explanation-mobile h1 {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        margin-top: 25px;
    }

    .second-main-text-mobile {
        display: block;
        order: -1; /* pour la faire apparaître avant les autres dans un conteneur flex si besoin */
        margin-left: 10px;
      }

    .second-main-text-mobile h2 {
        font-size: 15px; 
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 15px;
    }

    .no-results-message img {
        width: 70px; 
        height: auto; 
        margin-bottom: 20px;
    }
    
    .explanation {
        display: none;
    }

    .combo-box {
        display: none;
    }

    .combo-box-mobile {
        max-width: 250px;
        position: absolute;
        justify-content: flex-end;
        top: 13px;
        right: 5px;
    }

    .main-text-videos-desktop {
        display: none;
    }

    .top-controls {
        display: none;
    }

    .top-controls-mobile {
        display: flex;
        flex-direction: column;
        align-items: stretch; /* pour que les éléments prennent toute la largeur */
        gap: 12px;
        margin: 30px 3%;
      }

      .filter-wrapper-mobile {
        display: inline-block;
        position: absolute;
        margin-left: 0; /* collé à gauche */
        border-style: none;
        margin-top: 60px;
      }

    .filter-wrapper-mobile button {
        width: 35px;
        height: 35px;
    }

    .main-text-videos-mobile {
        display: block;
    }
    
    #searchBar {
        display: none;
    }

    #searchBar-mobile {
        display: block;
        width: 85%; 
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 12px;
        min-width: unset;
        box-sizing: border-box;
        margin-left: auto; 
        margin-top: 7px;

      }
    
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        gap: 50px 12px; /* Espacement réduit pour les petits écrans */
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20px;
    }

    .linguateka-logo {
        margin-left: 10px;
        gap: 6px;
    }

    .link-mobile {
        display: block;
    }

    .link-mobile {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #DAE2FF;
        border-radius: 6px;
        padding: 6px 9px;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: rgb(46, 46, 46);
        font-weight: 600;
        min-width: 100px;
    }

    .link-mobile-span span {
        font-size: 13px;
    }

    .link-mobile img {
        width: 18px;
        height: 18px;
    }

    .link-mobile:hover {
        background-color: #c9d5ff;
    }
    
    .card {
        width: 170px; 
    }

    .card img {
        width: 100%;
        height: 170px;
        object-fit: cover;
    }

    .link-desktop {
        display: none;
    }

    .explanation {
        margin-top: 35px;
    }

    .explanation h1 {
        font-weight: 500;
    }

    .footer-custom {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 15px 10px;
        gap: 15px;    
      }
    
      .footer-center {
        flex-direction: column;
        width: 100%;
        order : 3;
      }

      .footer-left {
        order: 1;
      }
    
      .footer-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 12px;
        width: 55%;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 8px;
      }
      .footer-link span {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .footer-link svg {
        flex-shrink: 0;
      }
      
    
      .footer-right {
        order: 2;
      }
}

@media (max-width: 370px) { 

    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 50px 12px; /* Espacement réduit pour les petits écrans */
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 20px;
    }

    .card {
        width: 150px; 
    }

    .card img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .footer-link {
        width: 60%;
      }

}